<!DOCTYPE html>
<html>
<% include ../partials/head %>
<body class="bg-light">
    <% include ../partials/nav %>
    <div class="container bg-light px-0 my-3 p-3">
        <font class="display-3">
            Edit Your Translation!
        </font>
        
    
        <div class="container bg-white px-0 my-3 p-3 border border-secondary">
            <p>
                From:<br><select id="sourceLanguage">
                    <option value="English">English</option>
                    <option value="Japanese">Japanese</option>
                </select>
            </p>
            <p>
                To:<br><select id="destinationLanguage">
                    <option value="Japanese">Japanese</option>
                    <option value="English">English</option>
                </select>
            </p>
            <p>Original Word:<br /><input id="term" placeholder="Type your word or phrase to define here..." style="width:100%;" value="<%= targetWord %>">
            <p>Translation:<br /><textarea id="WordTranslation" placeholder="Translations go here..." style="width:100%;height: 100px"><%= translation %></textarea></p>
            <p>
                Click 'record' to record the word!<br /><button id="startRecordingWord" onclick="startRecording(this);">record</button>
                <button id="stopRecordingWord" onclick="stopRecording(this);" disabled>stop</button>
                <ul id="recordingslist"></ul>
            </p>
            <p>
                Example sentences:<br />
                <textarea id="SentenceTranslation" placeholder="Example sentences go here..." style="width:100%;height: 100px"><%= exampleSentence %></textarea>
            </p>
            <p>
                Click 'record' to record the example sentence!<br />
                <button id="startRecordingSentence" onclick="startRecording2(this);">record</button>
                <button id="stopRecordingSentence" onclick="stopRecording2(this);" disabled>stop</button>
                <ul id="recordingslist2"></ul>
            </p>
            <p>Extra notes:<br /><input id="TranslatorNotes" placeholder="Enter miscellaneous notes here..." style="width:100%;" value="<%= notes %>"></p>
            <p>Tags:<br /><input id="Tags" placeholder="Enter tags here, separated by commas. Example: food, shopping, slang, formal" style="width:100%;" value="<%= tags %>"></p>
            <p><button class="submitDefinition" id="submitEdit">Submit</button></p>
            <p><font size="0"><%= id %></font></p>
        </div>

        <% include ../partials/scripts %>
        <% include ../partials/footer %>
</body>
</html>