<% for (let i = 0; i < numberOfTranslations; i++) { %>
<div class="definitionSpace">
    <p><b><font class="term"><%= targetWord %></font> </b> </p>
    <p><b>Word: </b> </p> 
	<p><button onclick="playWord()">▶ (Listen Word)</button></p>
    <% if (Array.isArray(translation)) {   %>
        <% for(let j = 0; j < translation.length; j++) { %>
            <p class="indented"><%= translation[j] %></p>
        <% } %>
    <% } else { %>
        <p class="indented"><%= translation %></p>
    <% } %>
	<audio id="audioWord" src="/audio/<%= audioWord %>" ></audio>

    <p><b>Example Sentence:</b></p>
	<p><button onclick="playSentence()">▶ (Listen Sentence)</button></p>
            
    <% if (Array.isArray(exampleSentence)) {   %>
        <% for(let k = 0; k <= exampleSentence.length; k++) { %>
            <p class="indented"><%= exampleSentence[k] %></p>
        <% } %>
    <% } else { %>
        <p class="indented"><%= exampleSentence %></p>
    <% } %>
    
	<audio id="audioSentence" src="/audio/<%= audioSentence %>" ></audio>

    <p><b>Author:</b></p>
    <p class="indented"><%= author %></p>
    <p><font><a href="#">👍</a></font><%= upvotes %> <font><a href="#">👎</a></font><%= downvotes %></p>
</div>
<% } %>