<% for (let i = 0; i < numberOfTranslations; i++) { %>
<div class="definitionSpace">
    <p><b><font class="term"><%= targetWord %></font> </b> </p>
    <hr><p><b>Word: </b> </p> 
	<p><button onclick="playWord()">▶ (Listen Word)</button></p>
    <% if (Array.isArray(translation[i])) {   %>
        <% for(let j = 0; j < translation[i].length; j++) { %>
            <p class="indented"><%= translation[i][j] %></p>
        <% } %>
    <% } else { %>
        <p class="indented"><%= translation %></p>
    <% } %>
	<audio id="audioWord" src="/audio/<%= audioWord %>" ></audio>

    <hr><p><b>Example Sentence:</b></p>
	<p><button onclick="playSentence()">▶ (Listen Sentence)</button></p>
            
    <% if (Array.isArray(exampleSentence[i])) {   %>
        <% for(let k = 0; k <= exampleSentence[i].length; k++) { %>
            <p class="indented"><%= exampleSentence[i][k] %></p>
        <% } %>
    <% } else { %>
        <p class="indented"><%= exampleSentence %></p>
    <% } %>
    
	<audio id="audioSentence" src="/audio/<%= audioSentence %>" ></audio>

    <hr><p><b>Author:</b></p>
    <p class="indented"><%= author[i] %></p>
	<hr><p><b>Tags:</b></p>
    <p class="indented"><%= tags[i] %></p>
    <p><font><a href="#">👍</a></font><%= upvotes[i] %> <font><a href="#">👎</a></font><%= downvotes[i] %></p>
	<p><font size="0"><%= id[i] %></font></p>

</div>
<% } %>